<div class="container">
  <h2>Unread Messages</h2>
  <%= render 'messages/unread' %>
  <h2>Read Messages</h2>
  <%= render 'messages/read' %>
  <h2>Sent Messages</h2>
  <%= render 'messages/sent' %>
  <%= link_to 'Send new message', new_message_path %>
</div>