<div>
  <table class="table">
    <tr>
      <td>Subject</td>
      <td>From</td>
      <td>Date</td>
    </tr>
  </table>
  <h2>Unread Messages</h2>
  <%= render 'messages/unread' %>
  <h2>Read Messages</h2>
  <%= render 'messages/read' %>
</div>
<div>
  <h2>Sent Messages</h2>
  <table class="table">
    <tr>
      <td>Subject</td>
      <td>To</td>
      <td>Date</td>
    </tr>
  </table>
  <div>
    <%= render 'messages/sent' %>
  </div>
</div>
<%= link_to 'Send new message', new_message_path  %>