<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <%= render 'messages/unread' %>
    <%= render 'messages/read' %>
    <%= render 'messages/sent' %>
    </tbody>
  </table>
  <%= link_to 'Send new message', new_message_path %>
</div>