<link href="/assets/stylesheets/bootstrap.css" rel="stylesheet">
<table class="table">
  <tr>
    <td>
      <%= link_to message.subject, message_path(message) %>
    </td>
    <td>
      <%= message.sender_name %>
    </td>
    <td>
      <%= message.created_at %>
    </td>
  </tr>
</table>