<% if @read_messages.count == 0 %>
    You have no read messages.
<% else %>
    <% @read_messages.each do |m| %>
        <table class="table">
          <tr>
            <td><%= link_to m.subject, message_path(m) %></td>
            <td><%= m.recipient_name %><% if m.read_by_recipient? %>[read]<% end %></td>
            <td><%= m.created_at %></td>
          </tr>
        </table>
    <% end %>
<% end %>