<% if @read_messages.any? %>
    <table class="table">
      <thead>
      <tr>
        <th>Subject</th>
        <th>From</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <% @read_messages.each do |m| %>
          <tr>
            <td><%= link_to m.subject, message_path(m) %></td>
            <td><%= m.sender_name %></td>
            <td><%= m.created_at %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <h5>You have no read messages.</h5>
<% end %>