<% if @unread_messages.count == 0 %>
    You have no unread messages.
<% else %>
    <% @unread_messages.each do |m| %>
        <table class="table">
          <tr>
            <td><%= link_to m.subject, message_path(m) %></td>
            <td><%= m.sender_name %></td>
            <td><%= m.created_at %></td>
          </tr>
        </table>
    <% end %>
<% end %>