<tr>
  <td><strong>Unread Messages</strong></td>
  <td></td>
  <td></td>
</tr>
<% if @unread_messages.any? %>
    <tr>
      <td><strong>Subject</strong></td>
      <td><strong>From</strong></td>
      <td><strong>Date</strong></td>
    </tr>
    <% @unread_messages.each do |m| %>
        <tr>
          <td><%= link_to m.subject, message_path(m) %></td>
          <td><%= m.sender_name %></td>
          <td><%= m.created_at %></td>
        </tr>
    <% end %>
<% else %>
    <tr>
      <td>You have no unread messages.</td>
      <td></td>
      <td></td>
    </tr>
<% end %>