<% if @game.art_trophy_p1? %>
    <li class="fa-stack fa-lg">
      <i class="fa fa-paint-brush fa-stack-1x"></i>
    </li>
<% else %>
    <li class="fa-stack fa-lg">
      <i class="fa fa-paint-brush fa-stack-1x" style="color: transparent;"></i>
    </li>
<% end %>
<% if @game.entertainment_trophy_p1? %>
    <li class="fa-stack fa-lg">
      <i class="fa fa-film fa-stack-1x"></i>
    </li>
<% else %>
    <li class="fa-stack fa-lg">
      <i class="fa fa-film fa-stack-1x" style="color: transparent;"></i>
    </li>
<% end %>
<% if @game.history_trophy_p1? %>
    <li class="fa-stack fa-lg">
      <i class="fa fa-book fa-stack-1x"></i>
    </li>
<% else %>
    <li class="fa-stack fa-lg">
      <i class="fa fa-book fa-stack-1x" style="color: transparent;"></i>
    </li>
<% end %>
<% if @game.geography_trophy_p1? %>
    <li class="fa-stack fa-lg">
      <i class="fa fa-globe fa-stack-1x"></i>
    </li>
<% else %>
    <li class="fa-stack fa-lg">
      <i class="fa fa-globe fa-stack-1x" style="color: transparent;"></i>
    </li>
<% end %>
<% if @game.science_trophy_p1? %>
    <li class="fa-stack fa-lg">
      <i class="fa fa-flask fa-stack-1x"></i>
    </li>
<% else %>
    <li class="fa-stack fa-lg">
      <i class="fa fa-flask fa-stack-1x" style="color: transparent;"></i>
    </li>
<% end %>
<% if @game.sports_trophy_p1? %>
    <li class="fa-stack fa-lg">
      <i class="fa fa-futbol-o fa-stack-1x"></i>
    </li>
<% else %>
    <li class="fa-stack fa-lg">
      <i class="fa fa-futbol-o fa-stack-1x" style="color: transparent;"></i>
    </li>
<% end %>