<head>
  <title>SnapTrivia</title>
  <%= stylesheet_link_tag    "rules", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script type="text/javascript">
      function delayedRedirect() {
          window.location = '/game/index.html'
      }
  </script>
</head>

<body onload="setTimeout('delayedRedirect()', 2000)" >
<br />

<h2 style="margin-top: 50px" >Purchase transaction cancelled...</h2>

Returning to home page ...
</body>