<%
   game_id = @game_id
   subject = @subject
   question = @question
   result = @result
   bonus = @bonus
   question_id = @question_id
%>

<%= stylesheet_link_tag "game.css.scss", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery.progressTimer" %>

<div class="container-fluid">

  <h2>Answer <%= result %></h2>

</br>

  <h3>Rate and Comment Question</h3>









</div>