<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container-fluid">

<h1>Welcome to SnapTrivia</h1>

<%= link_to 'GamePage', game_index_path %> <br>
<%= link_to 'GameRules', game_rules_path %>

    </div>