<p>Hello, <%= @player2.name %></p>
<p><%= @player1.name %> started a new game with you.</p>
<p>Click the link below to go to the main page to see if it's your turn.</p>
<%= link_to 'Snaptrivia Homepage', root_url %>