<tr>
  <td><strong>Your Trophies</strong></td>
  <td></td>
  <td></td>
</tr>
<% if @current_user.badges.any? %>
    <tr>
      <td><strong>Trophy</strong></td>
      <td><strong>Description</strong></td>
      <td></td>
    </tr>
    <% @current_user.badges.each do |current_user_badge| %>
        <tr>
          <td><i class="<%= current_user_badge.custom_fields[:icon] %>"></i></td>
          <td><%= current_user_badge.description %></td>
          <td></td>
        </tr>
    <% end %>
<% else %>
    <tr>
      <td>You do not have any yet.</td>
      <td></td>
      <td></td>
    </tr>
<% end %>