<% if @current_user.badges.any? %>
    <table class="table">
      <thead>
      <tr>
        <th>Trophy</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <% @current_user.badges.each do |current_user_badge| %>
          <tr>
            <td><i class="<%= current_user_badge.custom_fields[:icon] %>"></i></td>
            <td><%= current_user_badge.description %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <p>You do not have any yet.</p>
<% end %>