<h4>Search Results</h4>
<table>
  <% @search_results.each do |result| %>
      <tr>
        <td>
          <%= link_to game_new_path(:player2_id => result.id, :game_id => 0), class: 'btn btn-primary btn', id: 'cont-btn', title: 'Play New Game' do %>
              Play <%= result.name %>  &nbsp;&nbsp;&nbsp; Level: <%= result.level %>
          <% end %>
        </td>
        <td>
          <%= link_to statistics_show_path(:user_id => result.id), class: 'btn btn-primary btn', id: 'cont-btn', title: 'Compare Profiles' do %>
              Compare Profiles
          <% end %>
        </td>
      </tr>
  <% end %>
</table>