<tr>
  <td><strong><%= @user.name %>'s Trophies</strong></td>
  <td></td>
  <td></td>
</tr>
<% if @user.badges.any? %>
    <tr>
      <td><strong>Trophy</strong></td>
      <td><strong>Description</strong></td>
      <td></td>
    </tr>
    <% @user.badges.each do |user_badge| %>
        <tr>
          <td><i class="<%= user_badge.custom_fields[:icon] %>"></i></td>
          <td><%= user_badge.description %></td>
          <td></td>
        </tr>
    <% end %>
<% else %>
    <tr>
      <td><%= @user.name %> does not have any yet.</td>
      <td></td>
      <td></td>
    </tr>
<% end %>