<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-offset-4">

      <% if @search_results.any? %>
          <%= render 'search_results' %>
      <% else %>
          <%= render 'playable_users' %>
      <% end %>

    </div>
  </div>
</div>