

<!DOCTYPE html>
<html>
<head>
  <title>SnapTrivia</title>
  <%= stylesheet_link_tag    "rules", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>

</head>
<body>
<br>
<h1>Site Stats</h1>



</body>
</html>